numpy==1.24.4
pandas==1.5.3
tensorflow==2.17.0
matplotlib==3.10.0
seaborn==0.13.2
streamlit==1.41.1
scikit-learn==1.6.1
nltk==3.9.1
scikeras==0.13.0
tensorboard==2.17.1
pyfume==0.3.4
imbalanced-learn==0.13.0
gensim
dill
bs4
gdown
lxml
-e .